In [ ]:
import pandas as pd
import numpy as np
import random

In [ ]:
# Q1
# Write a python program to read the dataset and print the number
# of features, number of patterns, range of output available in
# the dataset.

In [ ]:
data = pd.read_csv("/student_scores.csv")

In [ ]:
data.head()

   Hours  Scores
0    2.5      21
1    5.1      47
2    3.2      27
3    8.5      75
4    3.5      30

In [ ]:
data.columns

Index(['Hours', 'Scores'], dtype='object')

In [ ]:
# creating dataframe
df = pd.DataFrame(data, index = None)
  
# computing number of rows
rows = len(df.axes[0])
  
# computing number of columns
cols = len(df.axes[1])
  
print(df)
# print(data)
print("Number of Rows: ", rows)
print("Number of Columns: ", cols)


print("Number of pattern: ", rows)
print("Number of features: ", cols-1)

    Hours  Scores
0     2.5      21
1     5.1      47
2     3.2      27
3     8.5      75
4     3.5      30
5     1.5      20
6     9.2      88
7     5.5      60
8     8.3      81
9     2.7      25
10    7.7      85
11    5.9      62
12    4.5      41
13    3.3      42
14    1.1      17
15    8.9      95
16    2.5      30
17    1.9      24
18    6.1      67
19    7.4      69
20    2.7      30
21    4.8      54
22    3.8      35
23    6.9      76
24    7.8      86
Number of Rows:  25
Number of Columns:  2
Number of pattern:  25
Number of features:  1

In [ ]:
data.shape

(25, 2)

In [ ]:
scores = data["Scores"]
maxScore = scores.max(axis=0,skipna=True)
minScore = scores.min(axis=0,skipna=True)
print("The range is = ")
print(minScore)
print(maxScore)

The range is =
17
95

In [ ]:
# Q2
# Write a program to randomly split the dataset in X:Y ratio.
# Here, the values of X and Y are as follows (X+Y = 100% always):
# a. X = 10:10:90 (i.e., initial: 10%, increment by 10%,
# maximum is 90%)
# b. Y = 90:10:10 (i.e., initial: 90%, decrement by 10%,
# minimum is 10%)

In [ ]:
import pandas as pd
import numpy as np
import random
n_rows = data.shape[0]
n_cols = data.shape[1]

for pct in np.arange(0.1, 1, 0.1):
  x_num = round(pct*n_rows)
  x_index = random.sample(range(0,n_rows), x_num)
  y_index = []
  for i in range(0,25):
    if i not in x_index:
      y_index.append(i)

x_split = data.iloc[x_index]
y_split = data.iloc[y_index]
print('x split:\n',x_split)
print('y split:\n',y_split)

x split:
     Hours  Scores
6     9.2      88
11    5.9      62
8     8.3      81
3     8.5      75
24    7.8      86
16    2.5      30
1     5.1      47
10    7.7      85
7     5.5      60
17    1.9      24
23    6.9      76
14    1.1      17
4     3.5      30
13    3.3      42
18    6.1      67
21    4.8      54
22    3.8      35
2     3.2      27
15    8.9      95
9     2.7      25
5     1.5      20
12    4.5      41
y split:
     Hours  Scores
0     2.5      21
19    7.4      69
20    2.7      30

In [ ]:
# Q3
# Write a program to calculate the row-wise,column-wise, and
# overall mean, median, mode, and standard deviation of the
# dataset.

In [ ]:
print(data)

    Hours  Scores
0     2.5      21
1     5.1      47
2     3.2      27
3     8.5      75
4     3.5      30
5     1.5      20
6     9.2      88
7     5.5      60
8     8.3      81
9     2.7      25
10    7.7      85
11    5.9      62
12    4.5      41
13    3.3      42
14    1.1      17
15    8.9      95
16    2.5      30
17    1.9      24
18    6.1      67
19    7.4      69
20    2.7      30
21    4.8      54
22    3.8      35
23    6.9      76
24    7.8      86

In [ ]:
print(data.mean())

Hours      5.012
Scores    51.480
dtype: float64

Hours      5.012
Scores    51.480
dtype: float64

In [ ]:
overall_mean = df.mean().mean()
print(overall_mean)

28.246

In [ ]:
row_wise = df.mean(axis=1)
print(row_wise)

0     11.75
1     26.05
2     15.10
3     41.75
4     16.75
5     10.75
6     48.60
7     32.75
8     44.65
9     13.85
10    46.35
11    33.95
12    22.75
13    22.65
14     9.05
15    51.95
16    16.25
17    12.95
18    36.55
19    38.20
20    16.35
21    29.40
22    19.40
23    41.45
24    46.90
dtype: float64

In [ ]:
column_mean = df.mean()
column_mean

Hours      5.012
Scores    51.480
dtype: float64

In [ ]:
print(data.median())

Hours      4.8
Scores    47.0
dtype: float64

In [ ]:
print(data.mode())

   Hours  Scores
0    2.5    30.0
1    2.7     NaN

In [ ]:
print(data.std())

Hours      2.525094
Scores    25.286887
dtype: float64

In [ ]:
# Q4
# Calculate the sum square error for polynomial curve fitting
# problem using the dataset.

In [ ]:
# import numpy as np
# sum_of_square = np.sum(np.square(rows['Scores'].to_numpy()- rows['Hours'].to_numpy()))
# print("Sum of Square = {}".format(sum_of_sqaure))